fast_code/openfast-1.1.2_annotation/src/main/resources/fastTemplateSchema-1.0.xsd

<xs:schema xmlns:td="http://www.fixprotocol.org/ns/template-definition"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://www.fixprotocol.org/ns/template-definition">
	<xs:element name="templates">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="td:template"/>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attribute name="ns"/>
			<xs:attribute name="templateNs"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="template">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="td:messageRef"/>
					<xs:group ref="td:instruction"/>
				</xs:choice>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attributeGroup ref="td:templateNsName"/>
			<xs:attribute name="ns"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageRef">
		<xs:complexType>
			<xs:group ref="td:other"/>
			<xs:attributeGroup ref="td:nsName"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="instruction">
		<xs:choice>
			<xs:group ref="td:field"/>
			<xs:element ref="td:presenceMap"/>
			<xs:element ref="td:templateRef"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="fieldInstrContent">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="td:fieldOp"/>
			<xs:group ref="td:other"/>
		</xs:choice>
		<xs:attributeGroup ref="td:nsName"/>
		<xs:attribute name="presence">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="mandatory"/>
					<xs:enumeration value="optional"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="td:other"/>
	</xs:complexType>
	<xs:group name="field">
		<xs:choice>
			<xs:group ref="td:integerField"/>
			<xs:element ref="td:decimal"/>
			<xs:element ref="td:boolean"/>
			<xs:element ref="td:string"/>
			<xs:element ref="td:byteVector"/>
			<xs:element ref="td:any"/>
			<xs:element ref="td:sequence"/>
			<xs:element ref="td:group"/>
		</xs:choice>
	</xs:group>
	<xs:group name="integerField">
		<xs:choice>
			<xs:element ref="td:int8"/>
			<xs:element ref="td:uInt8"/>
			<xs:element ref="td:int16"/>
			<xs:element ref="td:uInt16"/>
			<xs:element ref="td:int32"/>
			<xs:element ref="td:uInt32"/>
			<xs:element ref="td:int64"/>
			<xs:element ref="td:uInt64"/>
		</xs:choice>
	</xs:group>
	<xs:element name="int8" type="td:fieldInstrContent"/>
	<xs:element name="uInt8" type="td:fieldInstrContent"/>
	<xs:element name="int16" type="td:fieldInstrContent"/>
	<xs:element name="uInt16" type="td:fieldInstrContent"/>
	<xs:element name="int32" type="td:fieldInstrContent"/>
	<xs:element name="uInt32" type="td:fieldInstrContent"/>
	<xs:element name="int64" type="td:fieldInstrContent"/>
	<xs:element name="uInt64" type="td:fieldInstrContent"/>
	<xs:element name="decimal">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:group ref="td:singleFieldDecimal"/>
					<xs:choice>
						<xs:element ref="td:exponent"/>
						<xs:element ref="td:mantissa"/>
					</xs:choice>
				</xs:choice>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attributeGroup ref="td:nsName"/>
			<xs:attribute name="presence">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="mandatory"/>
						<xs:enumeration value="optional"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exponent">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="td:fieldOp"/>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mantissa">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="td:fieldOp"/>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="singleFieldDecimal">
		<xs:sequence>
			<xs:group minOccurs="0" ref="td:fieldOp"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="twinFieldDecimal">
		<xs:sequence>
			<xs:element minOccurs="0" ref="td:exponent"/>
			<xs:element minOccurs="0" ref="td:mantissa"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="boolean" type="td:fieldInstrContent"/>
	<xs:element name="string">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="td:fieldInstrContent">
					<xs:attribute name="charset">
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value="ascii"/>
								<xs:enumeration value="unicode"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="byteVector" type="td:fieldInstrContent"/>
	<xs:element name="any" type="td:fieldInstrContent"/>
	<xs:element name="sequence">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="td:length"/>
					<xs:group ref="td:instruction"/>
				</xs:choice>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attributeGroup ref="td:nsName"/>
			<xs:attribute name="presence">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="mandatory"/>
						<xs:enumeration value="optional"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="length">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="td:fieldOp"/>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:token"/>
			<xs:attribute name="ns"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="group">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="td:instruction"/>
				<xs:group ref="td:other"/>
			</xs:choice>
			<xs:attributeGroup ref="td:nsName"/>
			<xs:attribute name="presence">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="mandatory"/>
						<xs:enumeration value="optional"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="fieldOp">
		<xs:choice>
			<xs:element ref="td:constant"/>
			<xs:element ref="td:implicit"/>
			<xs:element ref="td:default"/>
			<xs:element ref="td:copy"/>
			<xs:element ref="td:increment"/>
			<xs:element ref="td:delta"/>
		</xs:choice>
	</xs:group>
	<xs:element name="constant">
		<xs:complexType>
			<xs:group ref="td:other"/>
			<xs:attributeGroup ref="td:initialValueAttr"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="implicit">
		<xs:complexType>
			<xs:group ref="td:other"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="default">
		<xs:complexType>
			<xs:group ref="td:other"/>
			<xs:attribute name="value"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="copy" type="td:opContext"/>
	<xs:element name="increment" type="td:opContext"/>
	<xs:element name="delta" type="td:opContext"/>
	<xs:attributeGroup name="initialValueAttr">
		<xs:attribute name="value" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="opContext">
		<xs:group ref="td:other"/>
		<xs:attribute name="dictionary">
			<xs:simpleType>
				<xs:union memberTypes="xs:string">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="template"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="message"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="global"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="scope">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="group"/>
					<xs:enumeration value="message"/>
					<xs:enumeration value="explicit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value"/>
		<xs:attributeGroup ref="td:other"/>
	</xs:complexType>
	<xs:attributeGroup name="scopeAttr">
		<xs:attribute name="scope" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="group"/>
					<xs:enumeration value="message"/>
					<xs:enumeration value="explicit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="dictionaryAttr">
		<xs:attribute name="dictionary" use="required">
			<xs:simpleType>
				<xs:union memberTypes="xs:string">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="template"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="message"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="global"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="lengthAttr">
		<xs:attribute name="length" use="required" type="xs:unsignedInt"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="charsetAttr">
		<xs:attribute name="charset" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ascii"/>
					<xs:enumeration value="unicode"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="presenceMap">
		<xs:complexType>
			<xs:group ref="td:other"/>
			<xs:attribute name="length" type="xs:unsignedInt"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="templateRef">
		<xs:complexType>
			<xs:group ref="td:other"/>
			<xs:attribute name="name" type="xs:token"/>
			<xs:attribute name="templateNs"/>
			<xs:attributeGroup ref="td:other"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="presenceAttr">
		<xs:attribute name="presence" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="mandatory"/>
					<xs:enumeration value="optional"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="nsName">
		<xs:attributeGroup ref="td:nameAttr"/>
		<xs:attribute name="ns"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="templateNsName">
		<xs:attributeGroup ref="td:nameAttr"/>
		<xs:attribute name="templateNs"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="nameAttr">
		<xs:attribute name="name" use="required" type="xs:token"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="nsAttr">
		<xs:attribute name="ns" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="templateNsAttr">
		<xs:attribute name="templateNs" use="required"/>
	</xs:attributeGroup>
	<xs:group name="other">
		<xs:sequence>
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="td:foreignElm"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="other">
		<xs:attributeGroup ref="td:foreignAttr"/>
	</xs:attributeGroup>
	<xs:group name="foreignElm">
		<xs:choice>
			<xs:any namespace="##other" processContents="skip"/>
			<xs:any namespace="##local" processContents="skip"/>
		</xs:choice>
	</xs:group>
	<xs:attributeGroup name="foreignAttr">
		<xs:anyAttribute namespace="##other" processContents="skip"/>
	</xs:attributeGroup>
</xs:schema>